header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px red solid;
    h1 {
        font-size: 70px;
    }
    
    button {
        display: inline-block;
        padding: 15px;
    }
}

section {
    padding: 10%;
    /*border: 2px red solid; */
}

.blogpost {
    align-items: center;
    justify-content: center;
    margin: 5%;
    padding: 10px;
    border: 2px red solid;
    border-radius: 50px;
    p {
        margin: 20px;
    }
}

.blog-title {
    display: inline-block;
    font-size: 35px;
    padding: 15px;
    border: 2px red solid;
    /* margin-top: 10px; */
    border-radius: 40px;
}

.blog-content {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    border: 2px red solid;
    border-radius: 40px;
}

.blog-username {
    display: inline-block;
    padding: 15px;
    margin: 2px;
    border: 2px red solid;
    border-radius: 40px;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px red solid;
}