

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px red solid;
    h1 {
        font-size: 70px;
    }
    
    button {
        display: inline-block;
        padding: 15px;
    }
}

main {
    display: flex;
    flex-direction: row;
    aside {
        display: flex;
        flex-direction: row;
        padding: 10%;
        /*border: 2px red solid; */
        border-right: 10px red solid;
        img {
            align-items: center;
            width: 200px;
            border: 2px red solid;
        }
    }

    section {
        flex: wrap;
        flex-direction: row;
        width: 100%;
        padding: 20px;
        /*border: 2px red solid; */
        margin: 2%;
    }
    article {
        padding: 10%;
        min-width: 50%;
        border: 2px red solid;
        p {
            padding: 10% 10%;
            font-size: 20px;
            border: 2px red solid;
            flex-grow: inherit;
            flex-direction: column;
        }
        button {
            margin: 10px;
            display:flex;
            flex-direction: column;
        }
    }
}

#title {
    font-size: 30px;
    padding: 3px;
    width: 100%;
}

#content{
    /*display: inline-block; */
    font-size: 17px;
    padding: 10px;
    width: 100%;

}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px red solid;
}


