

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px red solid;
    h1 {
        font-size: 70px;
    }
    
    button {
        display: inline-block;
        padding: 15px;
    }
}

main {
    display: flex;
    flex-direction: row;
    aside {
        display: flex;
        flex-direction: row;
        padding: 20px;
        /*border: 2px red solid; */
        border-right: 10px red solid;
        img {
            align-items: center;
            width: 200px;
            border: 2px red solid;
        }
    }

    section {
        padding: 20px;
        /*border: 2px red solid; */
        margin: 20px;
    }
    article {
        padding: 30px;
        border: 2px red solid;
        h3 {
            padding: 10px;
            border: 2px red solid;
            font-size: 40px;
        }
        p {
            padding: 10px;
            font-size: 20px;
            border: 2px red solid;
        }
        button {
            margin: 10px;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px red solid;
}


