header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px red solid;
    h1 {
        font-size: 70px;
    }
    
    button {
        display: inline-block;
        padding: 15px;
    }
}

main {
    display: flex;
    flex-direction: row;
    aside {
        display: flex;
        flex-direction: row;
        padding: 10%;
        /*border: 2px red solid; */
        border-right: 10px red solid;
        img {
            align-items: center;
            width: 200px;
            border: 2px red solid;
        }
    }

    section {
        flex: wrap;
        flex-direction: row;
        width: 100%;
        padding: 20px;
        /*border: 2px red solid; */
        margin: 2%;
    }
    article {
        padding: 5%;
        min-width: 50%;
        border: 2px red solid;
        p {
            padding: 2% 10%;
            font-size: 20px;
            border: 2px red solid;
            flex-grow: inherit;
            flex-direction: column;
        }
    }
}

#username {
    font-size: 25px;
    padding: 3px;
    width: 100%;
}

#title {
    font-size: 25px;
    padding: 3px;
    width: 100%;
}

#content {
    font-size: 25px;
    padding: 3px;
    width: 100%;
}

#warning {
    visibility: hidden;
    margin: 10px;
    font-size: 13px;
}

#warning.success
#warning.error {
    visibility: visible;
}

#warning.success {
    color: chartreuse;
}

#warning.error {
    color: rgb(173, 2, 39);
}

#post {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    display:flex;
    flex-direction: column;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px red solid;
}
