* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    /* high ocean*/
    --lightblue: #b0ccd7;
    --black: #272032;
    --highlight: #f18417;
    /* deep ocean */
    --navy: #0f1534;
    --white: #d0e7ea;
    --deepbubble: #5f8296;
    --deeplight: #dd2e8b; 
}


/* The toggle for light and dark mode should be here*/

#theme-toggle{
    padding: 20px;
}

/* dark mode */
.dark {
    background-color: var(--navy);
    color: var(--white);
    border: var(--white);
    a {
        color: var(--deeplight);
    }
    header {
        border-bottom: 8px var(--deepbubble) solid;
    }
    main aside {
        border-right: 8px var(--deepbubble) solid;
    }
    footer {
        border-top: 8px var(--deepbubble) solid;
    }
    article {
        border: 5px var(--deepbubble) solid;
    }
}

.dark .blog-title,
.dark .blog-content,
.dark .blog-username {
    border: 5px var(--deepbubble) solid;
}

/* light mode */
.light {
    background-color: var(--lightblue);
    color: var(--black);
    border: var(--black);
    a {
        color: var(--highlight);
    }
    header {
        border-bottom: 8px var(--black) solid;
    }
    main aside {
        border-right: 8px var(--black) solid;
    }
    footer {
        border-top: 8px var(--black) solid;
    }
    article {
        border: 5px var(--black) solid;
    }
}

.light .blog-title,
.light .blog-content,
.light .blog-username {
    border: 5px var(--black) solid;
}


.back-btn {
    border-radius: 40px;
}
